<% provide :title, t(".title_about") %>

<h1><%= t ".title_about" %></h1>
<p>
  <%= link_to t(".name_book"), "http://www.railstutorial.org" %>
  <%= link_to t(".book"), "http://www.railstutorial.org/book" %>
  <%= link_to "screencast series", "http://screencasts.railstutorial.org/" %>
  <%= link_to "ruby on rails", "http://rubyonrails.org/" %>.
</p>
