<footer class="footer">
  <small>
    <%= link_to t("static_pages.about.name_book"), "http://www.railstutorial.org" %>
    <%= t "static_pages.home.by" %>
    <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.title_about"), about_path %></li>
      <li><%= link_to t("static_pages.contact.title_contact"), contact_path %></li>
      <li><%= link_to t("static_pages.home.new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
